html, body
{
  height: 100%;
}

.alhlayout,table,tr,td {
  border: 2px solid black;
}

.brdtblregion {
  width: 100%;
  height: 100%;
}

.alhlayout {
  width: 100%;
  height: 100%;
}

.boardregion {
  width: 100%;
}
.otherplayerbox {
  width: 50%;
}

#deck {
  width: 15%;
}

#exchange {
  width: 35%;
}

#market {
  width: 50%;
  height: 100%;
}

#playerbox {
  width: 100%;
}

#otherplayers {
  height: 25%;
}

#commonboard {
  height: 30%;
}

#player {
  height: 45%;
}

.marketTile {
  border: 8px ;
  border-style: solid;
}

.gamepiece-selected {
  border-color: yellow;
}

.gamepiece-unselected {
  border-color: black;
}

#marketDiv {
  background-image: "resources/image/Market.png";
}